.button__form{
  width: 353px;
  height: 61px;
  background: #FDBF5A;
  border-radius: 70px;
  border: #FDBF5A;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;
color: #000000;
}