.left{
  background-color: #1C1A19;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 485px;
}

.reiht{
  display: flex;
  align-items: center;
  justify-content: center;
width: 955px;
height: 100vh;
justify-content: center
}

.EntrySection {
  display: flex;
  height: 100vh;
 }

 .form__input{
  width: 355px;
  background-color: transparent;
  border-style: none none solid;
  border-color: #E4E4E4;
  padding: 0.5rem;
  outline: none;
 }

